header{
    height: 5em;
    width: 100%;
    z-index: 1000;

    background-color: #0F293C ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

h1{
    margin: 0px 0 0px 20px;
    color: #6560D9;
}

nav{
    margin: 0px 15px 0 0;
}

a {
    color: #6560D9;
    margin: 20px 20px 0px 0px;
    font-size: x-large;
    
}

.headerContatos{
    font-size: 17pt;
}

.header-nav a{
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
a:hover{
    color: #fff;

}



